.container {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* text-align: center; */
        flex-direction: column;
        border: 2px solid #ccc;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 10px; /* Rounded corners */
}